body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
}

.card-container {
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    padding: 30px 30px;
}

.header {
  height: 72px;
  background: darkmagenta;
  font-size: 32px;
  font-weight: 900;
  color: white; 
  display: flex;
  align-items: center;
  padding-left: 16px;
}


.footer {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 24px;
    color: white;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px;
  height: 300px;
  padding: 10px 10px;
}