/* Add CSS Styling */

.odd-number {
    background-color: #ffc0cb;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

.big-font {
    font-size: 24px;
}

.bold {
    font-weight: bold;
}

#blue {
    color: #0000ff;
    font-size: 36px;
}

#light-green {
    background-color: lightgreen;
}