:root {
    --primary-color: #131313;
    --secondary-color: #E5E7EB;
    --tertiary-color: #505050;
    --default-font-family: 'Poppins';
}

.header {
    max-width: 1000px;
    height: 50px;
    display: flex;
    font-family: var(--default-font-family);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.header img {
    display: flex;
    height: 60px;
    width: 40px;
    margin-left: 100px;
    margin-top: 20px;
    padding-bottom: 20px;
}

h1 {
    font-family: var(--default-font-family);
    margin-top: 20px;
    font-size: 30px;
    font-weight: 900;
    color: var(--secondary-color);
}

h2 {
    font-family: var(--default-font-family);
    width: 800px;
    border: solid var(--secondary-color);
    border-radius: 3px;
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    margin-top: 20px;
    padding: 10px 20px;
    color: var(--secondary-color);
}

h3 {
    font-family: var(--default-font-family);
    font-size: 24px;
    font-weight: 900;
    margin-top: 20px;
    color: var(--primary-color);
}

h6 {
    font-family: var(--default-font-family);
    font-size: 12px;
    font-weight: 900;
    padding-top: 10px;
    margin-right: auto;
    margin-bottom: 0;
    text-align: center;
    color: var(--secondary-color);
}

.header-two-container {
    max-width: 1000px;
    background-color: var(--primary-color);
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

h5 {
    margin-left: 100px;
    margin-top: 10px;
    font-size: 14px;
}

.section-one-left p {
    color: var(--secondary-color);
    font-family: var(--default-font-family);
    font-size: 14px;
    flex-wrap: wrap;
}

.btn-primary {
    font-family: var(--default-font-family);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    font-size: 14px;
    margin: 0 auto;
    padding: 8px 15px;
    border-radius: 8px;
}

.btn-primary:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.image {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.img-fluid {
    display: flex;
    width: 123px;
    height: 50px;
    padding-top: 10px;
    margin-left: 100px;
}

.header-links {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 14px;
}

.section-one {
    max-width: 1000px;
    background-color: var(--primary-color);
    height: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.section-one-left {
    margin-left: 100px;
    width: 400px;
    align-content: center;
}

.section-one-right {
    align-content:center;
    margin-right: 100px;
}

.section-one-img {
    width: 350px;
    height: 230px;
    border-radius: 3px;
    flex-wrap: wrap;
}
.link-one, .link-two, .link-three {
    color: var(--secondary-color);
    text-decoration: none;
    opacity: 0.6;
    margin-left: 0 auto;
}

.link-one:hover, .link-two:hover, .link-three:hover {
    text-decoration: none;
}

.link-three {
    margin-right: 80px;
}

.section-two {
    max-width: 1000px;
    background-color: var(--primary-color);
    height: 300px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 30px;
}

.section-two p{
    display: flex;
}

.section-two-img {
    width: 150px;
    height: 180px;
    margin-top: 30px;
    border-radius: 2px;
    justify-content: space-between;
}

.section-three {
    max-width: 1000px;
    background-color: var(--primary-color);
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.section-three p {
    color: var(--secondary-color);
    font-family: var(--default-font-family);
    font-weight: normal;
    align-self: center;
    text-align: center;
    font-size: 18px;
    width: 600px;
    flex-wrap: wrap;
}

.section-three h5 {
    font-family: var(--default-font-family);
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    margin-top: 20px;
    margin-right: 100px;
    color: var(--secondary-color);
}

footer {
    max-width: 1000px;
    background-color: var(--tertiary-color);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.call-to-action {
    width: 800px;
    border: 4px solid var(--secondary-color);
    background-color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    height: 150px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.call-to-action h3 {
    margin-left: 30px;
}

footer p {
    display: flex;
    color: var(--primary-color);
    font-family: var(--default-font-family);
    margin-left: 30px;
}

 .sign-up {
    display: flex;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.sign-up:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}




