.header  {
  font-family: Arial, Helvetica, sans-serif;
  background: papayawhip;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div .left-links ul {
    margin-left: 10px;
    align-items: flex-start;
}

div .right-links ul {
    align-items: flex-end;
    margin-right: 10px;
}


.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 8px;
  
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}